<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    {% if page.title %}
      <title>{{ page.title }} - tutorials.github.com</title>
    {% else %}
      <title>tutorials.github.com</title>
    {% endif %}
    
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <script src="/javascripts/scale.fix.js"></script>
    <script src="http://documentcloud.github.com/underscore/underscore.js"></script>
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="/javascripts/sidebar.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30727234-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="http://tutorials.github.com">tutorials.github.com</a></h1>
        <p>Decentralized polyglot tutorials</p>
        <nav id="sidebar"></nav>
        <p class="view"><a href="https://github.com/tutorials/tutorials.github.com">View the Project on GitHub <small>tutorials/tutorials.github.com</small></a></p>
        <ul id="download">
          <li><a href="https://github.com/tutorials/tutorials.github.com/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/tutorials/tutorials.github.com/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/tutorials/tutorials.github.com">Fork On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section id="main">
        {{ content }}
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/Whitespace">Whitespace</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
    <script id="sidebar_template" type="text/x-underscore" charset="utf-8">
      <% _(visible).each(function(values, name) { %>
        <h3><%= name %> (<%= visible_counts[name] %>)</h3>
        <ul>
          <% _(values).each(function(count, val) { %>
            <li data-name="<%= name %>", data-value="<%= val %>">
              <% if(_(filters).any(function(filter) { return filter.name === name && filter.value === val; })) { %>
                <strong><%= val %></strong>
              <% } else { %>
                <%= val %> (<%= count %>)
              <% } %>
            </li>
          <% }) %>
        </ul>
      <% }) %>
    </script>
  </body>
</html>
